@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1a1a1a;
  color: #f2f2f2;
  font-family: "Rubik Wet Paint", "Montserrat", sans-serif;
  font-weight: normal;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-main {
  min-height: 85vh;
}
.title {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 600;
}
.employees {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 2rem;
  width: 100%;
  margin-bottom: 1rem;
}
.all {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  justify-items: center;
}
.grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 2rem;
  width: 100%;
}
.layout-cards {
  background-color: rgb(216, 212, 212);
  border: 0.125rem solid #ffffff8c;
  border-radius: 5px;
  transition: all 0.3s linear;
  height: 15rem;
  width: 12.5rem;
}
.layout-cards > p {
  border-radius: 0.3125rem;
  background-color: black;
  text-align: center;
  padding: 1rem 0;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1rem;
}
.layout-dragging {
  background-color: rgb(216, 212, 212);
  border: 0.125rem dashed #0202028c;
}
.containerEmployees {
  height: 18.75rem;
  width: 100%;
}
.containerEmployees > p {
  font-size: 1.5rem;
}
.card-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1rem 0 1rem;
  background-color: rgb(81, 81, 83);
  border-radius: 0.3125rem;
  padding: 0.5rem;
  cursor: pointer;
  animation: fadeIn 0.3s ease-in-out;
  width: 10rem;
  box-shadow: 0 0.125rem 0.25rem rgb(3, 3, 3);
}
.card-container > p {
  font-weight: bold;
  font-size: 1rem;
}
.cancel {
  height: 1.5625rem;
  width: 1.5625rem;
  background-color: rgb(197, 197, 197);
  border-radius: 0.3125rem;
  border: black solid 0.0625rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
