@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1a1a1a;
  color: #f2f2f2;
  font-family: "Rubik Wet Paint", "Montserrat", sans-serif;
  font-weight: normal;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-main {
  min-height: 85vh;
}
.title {
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  font-weight: 900;
}
.employees {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 2rem;
  width: 100%;
  margin-bottom: 1rem;
}
.grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  padding: 0 2rem;
  width: 100%;
}
.layout-cards {
  border: 2px solid #ffffff8c;
  border-radius: 5px;
  transition: all 0.3s linear;
  height: 200px;
}
.layout-cards > p {
  border-radius: 5px;
  background-color: black;
  text-align: center;
  padding: 1rem 0;
  font-weight: bold;
  text-transform: capitalize;
}
.layout-dragging {
  background: #ffffff17;
  border: 2px dashed #ffffff8c;
}
.card-container {
  margin: 1rem 1rem 0 1rem;
  background-color: slateblue;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
  animation: fadeIn 0.3s ease-in-out;
}
.card-container > p {
  font-weight: bold;
  font-size: 1.5rem;
}
